<f:layout name="DefaultWelcomeSailor" />

<f:section name="Col1">
    <div class="col-lg-6">
   
        <!--TYPO3SEARCH_begin-->
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}" />
        <!--TYPO3SEARCH_end-->
        
    </div>
</f:section>

<f:section name="Col2">
    <div class="col-lg-6 pt-4 pt-lg-0">
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '1'}" />
    </div>
</f:section>
