<f:layout name="Default" />

<f:section name="Hero">

    <f:if condition="{settings.staticHeroPageID} == {data.uid}">
        <!-- ======= Hero Section ======= -->
        <f:switch expression="{data.sys_language_uid}">
            <f:case value='0'>
                <f:render partial="HeroSailor"></f:render>
            </f:case>
            <f:case value='1'>
                <f:render partial="HeroSailorEN"></f:render>
            </f:case>
            <f:defaultCase>
                <f:render partial="HeroSailor"></f:render>
            </f:defaultCase>
        </f:switch>
    </f:if>


    {f:cObject(typoscriptObjectPath: 'lib.dynamicContent', data: {colPos: 30}) -> f:variable(name: 'col30')}

    <f:if condition="{col30}">
        <!-- ======= Hero Section ======= -->
        <section id="hero">
            <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

                <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

                <div class="carousel-inner" role="listbox">

                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '30'}" />

                </div>

                <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
                </a>
        
                <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
                </a>
      
            </div>
        </section><!-- End Hero -->

    </f:if>

</f:section>

<f:section name="Col1">
    <!--TYPO3SEARCH_begin-->

    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}" />

    {f:cObject(typoscriptObjectPath: 'lib.dynamicContent', data: {colPos: 10}) -> f:variable(name: 'col10')}
    {f:cObject(typoscriptObjectPath: 'lib.dynamicContent', data: {colPos: 11}) -> f:variable(name: 'col11')}
    <f:if condition="{col10} || {col11}">

        <section id="about" class="about">
            <div class="container">
                <div class="row content">

                <div class="col-lg-6">
                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '10'}" />
                </div>
                <f:if condition="{col11}">    
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '11'}" />
                    </div>
                </f:if>

                </div>
            </div>
        </section>
     </f:if>

    {f:cObject(typoscriptObjectPath: 'lib.dynamicContent', data: {colPos: 20}) -> f:variable(name: 'col20')}
    {f:cObject(typoscriptObjectPath: 'lib.dynamicContent', data: {colPos: 21}) -> f:variable(name: 'col21')}
    <f:if condition="{col20} || {col21}">

        <section id="blog" class="blog">
            <div class="container" data-aos="fade-up">
                <div class="row content">

                <div class="col-lg-8 entries">
                    <article class="entry entry-single">
                        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '20'}" />
                    </article>
                </div>

                <f:if condition="{col21}">   
                    <div class="col-lg-4">
                        <div class="sidebar">
                            <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '21'}" />
                        </div>
                    </div>
                </f:if>                

                </div>
            </div>
        </section>

    </f:if>

    <!--TYPO3SEARCH_end-->
</f:section>
