<f:layout name="Default" />

<f:section name="Col1">
    <div class="col-md-8">
   
        <!--TYPO3SEARCH_begin-->
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}" />
        <!--TYPO3SEARCH_end-->
        
    </div>
</f:section>

<f:section name="Col2">
    <div class="col-md-4">
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '1'}" />
    </div>
</f:section>
