<f:if condition="0"><f:debug>{_all}</f:debug></f:if>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/">CMSOD</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="bsm-sailor/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>

          <f:for each="{mainnavigation}" as="mainnavigationItem">
            <f:if condition="{mainnavigationItem.children}">
                <f:then>
                    <li class="dropdown">
                        <a class="nav-link {f:if(condition: mainnavigationItem.active, then:'active')}">
                            <span>{mainnavigationItem.title}</span> <i class="bi bi-chevron-down"></i>
                        </a>
                        <ul class="" aria-labelledby="navbarDropdown">
                            <f:for each="{mainnavigationItem.children}" as="child">
                                <li><a class="" href="{child.link}">{child.title}</a></li>
                            </f:for>
                        </ul>
                    </li>
                </f:then>
                <f:else>
                    <li class="">
                        <a class="nav-link {f:if(condition: mainnavigationItem.active, then:'active')}"
                            href="{mainnavigationItem.link}">{mainnavigationItem.title}</a>
                    </li>
                </f:else>
            </f:if>
          </f:for>

          <f:if condition="{languageNavigation}">
            <!-- <ul id="language" class="navbar-nav ms-md-auto test language-menu"> -->
               <f:for each="{languageNavigation}" as="item">
                  <li class="nav-item language {f:if(condition: item.available, else: ' visually-hidden')}">
                     <f:if condition="{item.available}">
                        <f:then>
                            <a class="nav-link {f:if(condition: item.active, then: 'active')}"
                                href="{item.link}" hreflang="{item.hreflang}"
                                title="{item.navigationTitle}">
                                <img src="typo3conf/ext/jbspb_cmsod/Resources/Public/Images/Languages/{item.navigationTitle}.png" alt="Flag">
                                <span>{item.navigationTitle}</span>
                            </a>
                        </f:then>
                        <f:else>
                            <span>{item.navigationTitle}</span>
                        </f:else>
                     </f:if>
                  </li>
               </f:for>
            <!-- </ul> -->
         </f:if>


          <f:for each="{topnavigation}" as="topnavigationItem">
              <li>
                  <a class="nav-link" href="{topnavigationItem.link}">
                      <f:if condition="{topnavigationItem.title} == 'TYPO3' ">
                          <i class="bi bi-badge-tm"> </i> &nbsp;
                      </f:if>
                      <f:if condition="{topnavigationItem.title} == 'PCS' ">
                          <i class="bi bi-book"> </i> &nbsp;
                      </f:if>
                      <f:if condition="{topnavigationItem.title} == 'CMSOD' ">
                        <i class="bi bi-book"> </i> &nbsp;
                      </f:if>
                      <f:if condition="{topnavigationItem.title} == 'Suche' ">
                          <i class="bi bi-search"> </i> &nbsp;
                      </f:if>
                      <f:if condition="{topnavigationItem.title} == 'Search' ">
                          <i class="bi bi-search"> </i> &nbsp;
                      </f:if>
                      {topnavigationItem.title}
                  </a>
              </li>
          </f:for>

        </ul>

        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <f:switch expression="{data.sys_language_uid}">
    <f:case value='0'>
        <f:render partial="HeroSailor"></f:render>
    </f:case>
    <f:case value='1'>
        <f:render partial="HeroSailorEN"></f:render>
    </f:case>
    <f:defaultCase>
        <f:render partial="HeroSailor"></f:render>
    </f:defaultCase>
  </f:switch>


  <main id="main">

  <section id="blog" class="blog">
    <div class="container">
        <div class="row">
            <f:render section="Col1" />
            <f:render section="Col2" />
        </div>
    </div>
  </section>



    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row content">
          <div class="col-lg-6">
            <h2>Eum ipsam laborum deleniti velitena</h2>
            <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assum perenda sruen jonee trave</h3>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequa</li>
              <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</li>
            </ul>
            <p class="font-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

     <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="row">
          <div class="col-md-6">
            <div class="icon-box">
              <i class="bi bi-briefcase"></i>
              <h4><a href="#">Lorem Ipsum</a></h4>
              <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-card-checklist"></i>
              <h4><a href="#">Dolor Sitema</a></h4>
              <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-bar-chart"></i>
              <h4><a href="#">Sed ut perspiciatis</a></h4>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-binoculars"></i>
              <h4><a href="#">Nemo Enim</a></h4>
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-brightness-high"></i>
              <h4><a href="#">Magni Dolore</a></h4>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-calendar4-week"></i>
              <h4><a href="#">Eiusmod Tempor</a></h4>
              <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->


  </main><!-- End #main -->


<f:switch expression="{data.sys_language_uid}">
    <f:case value='0'>
        <f:render partial="StandardFooterSailor"></f:render>
    </f:case>
    <f:case value='1'>
        <f:render partial="StandardFooterSailorEN"></f:render>
    </f:case>
    <f:defaultCase>
        <f:render partial="StandardFooterSailor"></f:render>
    </f:defaultCase>
</f:switch>


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

