<f:if condition="0"><f:debug>{_all}</f:debug></f:if>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto">
        <f:switch expression="{data.sys_language_uid}">
          <f:case value='0'>
            <a href="/">CMSOD</a>
          </f:case>
          <f:case value='1'>
            <a href="/en">CMSOD</a>
          </f:case>
          <f:defaultCase>
            <a href="/">CMSOD</a>
          </f:defaultCase>
        </f:switch>        
      </h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="bsm-sailor/img/logo.png" alt="" class="img-fluid"></a> -->

      <nav id="navbar" class="navbar">
        <ul>

          <f:for each="{mainnavigation}" as="mainnavigationItem">
            <f:if condition="{mainnavigationItem.children}">
                <f:then>
                    <li class="dropdown">
                        <a class="nav-link {f:if(condition: mainnavigationItem.active, then:'active')}">
                            <span>{mainnavigationItem.title}</span> <i class="bi bi-chevron-down"></i>
                        </a>
                        <ul class="" aria-labelledby="navbarDropdown">
                            <f:for each="{mainnavigationItem.children}" as="child">
                                <li><a class="" href="{child.link}">{child.title}</a></li>
                            </f:for>
                        </ul>
                    </li>
                </f:then>
                <f:else>
                    <li class="">
                        <a class="nav-link {f:if(condition: mainnavigationItem.active, then:'active')}"
                            href="{mainnavigationItem.link}">{mainnavigationItem.title}</a>
                    </li>
                </f:else>
            </f:if>
          </f:for>

          <f:if condition="{languageNavigation}">
            <!-- <ul id="language" class="navbar-nav ms-md-auto test language-menu"> -->
               <f:for each="{languageNavigation}" as="item">
                  <li class="nav-item language {f:if(condition: item.available, else: ' visually-hidden')}">
                     <f:if condition="{item.available}">
                        <f:then>
                            <a class="nav-link {f:if(condition: item.active, then: 'active')}"
                                href="{item.link}" hreflang="{item.hreflang}"
                                title="{item.navigationTitle}">
                                <img src="typo3conf/ext/jbspb_cmsod/Resources/Public/Images/Languages/{item.navigationTitle}.png" alt="Flag">
                                <span>{item.navigationTitle}</span>
                            </a>
                        </f:then>
                        <f:else>
                            <span>{item.navigationTitle}</span>
                        </f:else>
                     </f:if>
                  </li>
               </f:for>
            <!-- </ul> -->
         </f:if>


          <f:for each="{topnavigation}" as="topnavigationItem">
              <li>
                  <a class="nav-link" href="{topnavigationItem.link}">
                      <f:if condition="{topnavigationItem.title} == 'Suche' ">
                          <i class="bi bi-search"> </i> &nbsp;
                      </f:if>
                      <f:if condition="{topnavigationItem.title} == 'Search' ">
                          <i class="bi bi-search"> </i> &nbsp;
                      </f:if>
                      {topnavigationItem.title}
                  </a>
              </li>
          </f:for>

        </ul>

        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->


  <main id="main">


  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">

        <f:switch expression="{data.sys_language_uid}">
          <f:case value='0'>
            <h2>Zertifikat CMS Online Designer</h2>
          </f:case>
          <f:case value='1'>
            <h2>Certificate CMS Online Designer</h2>
          </f:case>
          <f:defaultCase>
              <h2>Zertifikat CMS Online Designer</h2>
          </f:defaultCase>
        </f:switch>
              
        
        <ol>
          
          <i class="bi bi-diagram-3-fill" style="font-size:0.8rem;"></i>
          
          <f:for each="{menuBreadcrumb}" as="breadcrumbItem" iteration="breadcrumbiterator">
            <f:if condition="{breadcrumbiterator.isFirst}">
              <f:then>
                <li class="{f:if(condition:breadcrumbItem.current,then:'active')}"
                  {f:if(condition:breadcrumbItem.current,then: 'aria-current="page"' )}>
                  <f:link.typolink parameter="{rootPageUid}" title="Startseite">
                  </f:link.typolink>
                </li>
              </f:then>
              <f:else>
                <li class="{f:if(condition:breadcrumbItem.current,then:'active')}"
                  {f:if(condition:breadcrumbItem.current,then: 'aria-current="page"' )}>
                  <a href="{breadcrumbItem.link}">
                    {breadcrumbItem.title}
                  </a>
                </li>
              </f:else>
            </f:if>
          </f:for>
  
        </ol>
      </div>
    </div>
  </section>


  <section id="blog" class="blog">
    <div class="container">
        <div class="row">
            <f:render section="Col1" />
            <f:render section="Col2" />
        </div>
    </div>
  </section>



  </main><!-- End #main -->


<f:switch expression="{data.sys_language_uid}">
    <f:case value='0'>
        <f:render partial="StandardFooterSailor"></f:render>
    </f:case>
    <f:case value='1'>
        <f:render partial="StandardFooterSailorEN"></f:render>
    </f:case>
    <f:defaultCase>
        <f:render partial="StandardFooterSailor"></f:render>
    </f:defaultCase>
</f:switch>


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

