<f:if condition="0"><f:debug>{_all}</f:debug></f:if>
<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container">

        <f:switch expression="{data.sys_language_uid}">
            <f:case value='0'>
                <a class="navbar-brand" href="/">
            </f:case>
            <f:case value='1'>
                <a class="navbar-brand" href="/en">
            </f:case>
            <f:defaultCase>
                <a class="navbar-brand" href="/">
            </f:defaultCase>
        </f:switch>


            <img src="typo3conf/ext/jbspb_cmsod/Resources/Public/Images/typo3-plus-bootswatch.png" alt="" height="32" class="d-inline-block align-top">
            CMSOD 4.0</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">

            <ul class="navbar-nav">

                <f:for each="{mainnavigation}" as="mainnavigationItem">
                    <f:if condition="{mainnavigationItem.children}">
                        <f:then>
                            <li class="nav-item dropdown">
                                <a class="nav-link {f:if(condition: mainnavigationItem.active, then:'active')} dropdown-toggle"
                                    href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    {mainnavigationItem.title}
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <f:for each="{mainnavigationItem.children}" as="child">
                                        <li><a class="dropdown-item" href="{child.link}">{child.title}</a></li>
                                    </f:for>
                                </ul>
                            </li>
                        </f:then>
                        <f:else>
                            <li class="nav-item">
                                <a class="nav-link {f:if(condition: mainnavigationItem.active, then:'active')}"
                                    href="{mainnavigationItem.link}">{mainnavigationItem.title}</a>
                            </li>
                        </f:else>
                    </f:if>
                </f:for>

            </ul>

            <f:if condition="{languageNavigation}">
                <ul id="language" class="navbar-nav ms-md-auto test language-menu">
                   <f:for each="{languageNavigation}" as="item">
                      <li class="nav-item {f:if(condition: item.available, else: ' visually-hidden')}">
                         <f:if condition="{item.available}">
                            <f:then>
                                <a class="nav-link {f:if(condition: item.active, then: 'active')}" 
                                    href="{item.link}" hreflang="{item.hreflang}"
                                    title="{item.navigationTitle}">
                                    <img src="typo3conf/ext/jbspb_cmsod/Resources/Public/Images/Languages/{item.navigationTitle}.png" alt="Flag" style="height: 1rem;">
                                    <span>{item.navigationTitle}</span>
                                </a>
                            </f:then>
                            <f:else>
                                <span>{item.navigationTitle}</span>
                            </f:else>                        
                         </f:if>
                      </li>
                   </f:for>
                </ul>
             </f:if>


            <ul class="navbar-nav ms-md-auto test">
                <f:for each="{topnavigation}" as="topnavigationItem">
                    <li>
                        <a class="nav-link" href="{topnavigationItem.link}">
                            <f:if condition="{topnavigationItem.title} == 'TYPO3' ">
                                <i class="bi bi-book"> </i>
                            </f:if>
                            <f:if condition="{topnavigationItem.title} == 'PCS' ">
                                <i class="bi bi-badge-tm"> </i>
                            </f:if>
                            <f:if condition="{topnavigationItem.title} == 'Suche' ">
                                <i class="bi bi-search"> </i>
                            </f:if>
                            <f:if condition="{topnavigationItem.title} == 'Search' ">
                                <i class="bi bi-search"> </i>
                            </f:if>
                            {topnavigationItem.title}
                        </a>
                    </li>
                </f:for>
            </ul>

        </div>

    </div>
</div>



<div class="container">

    <f:if condition="{data.uid} == 2">
        <f:render partial="StandardCarousel"></f:render>
    </f:if>

    <div class="bs-docs-section">
        <div class="row">
            <f:render section="Col1" />
            <f:render section="Col2" />
        </div>
    </div>


    <f:switch expression="{data.sys_language_uid}">
        <f:case value='0'>
            <f:render partial="StandardFooter"></f:render>
        </f:case>    
        <f:case value='1'>
            <f:render partial="StandardFooterEN"></f:render>
        </f:case>
        <f:defaultCase>
            <f:render partial="StandardFooter"></f:render>
        </f:defaultCase>
    </f:switch>

</div>
