<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{date}">
    <div class="entry-meta">
        <ul>
            <li class="d-flex align-items-center"><i class="bi bi-person"></i> 
                Joe B.
            </li>
            <li class="d-flex align-items-center"><i class="bi bi-clock"></i> 
                <time datetime="{date -> f:format.date(format: '%Y-%m-%d')}">
                    <f:format.date format="%B %e, %Y">{date}</f:format.date>
                </time> 
            </li>
            <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> No Comments</li>
        </ul>
    </div>
</f:if>
</html>