<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{subheader}">
    <f:switch expression="{layout}">
        <f:case value="1">
            <h2 class="{positionClass} entry-title">
                {subheader}
            </h2>
        </f:case>
        <f:case value="2">
            <h3 class="{positionClass} entry-title">
                {subheader}
            </h3>
        </f:case>
        <f:case value="3">
            <h4 class="{positionClass} entry-title">
                {subheader}
            </h4>
        </f:case>
        <f:case value="4">
            <h5 class="{positionClass} entry-title">
                {subheader}
            </h5>
        </f:case>
        <f:case value="5">
            <h6 class="{positionClass} entry-title">
                {subheader}
            </h6>
        </f:case>
        <f:defaultCase>
            <f:if condition="{default} entry-title">
                <f:render partial="Header/SubHeader" arguments="{
                    subheader: subheader,
                    positionClass: positionClass,
                    layout: default}" />
            </f:if>
        </f:defaultCase>
    </f:switch>
</f:if>
</html>
