<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="DefaultBsm" />
<f:section name="Main">

<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">
        <div class="row content">
            <div class="col-lg-6">
                <f:render partial="Header/All" arguments="{_all}" />
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
                <f:format.html>{data.bodytext}</f:format.html>
            </div>
        </div>
    </div>
</section><!-- End About Section -->

</f:section>
</html>