<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="DefaultBsm" />

<f:section name="Main">

  <f:render partial="Media/GalleryBlogIntro" arguments="{_all}" />

  <f:render partial="Header/All" arguments="{_all}" />

  <f:if condition="{data.bodytext}">
    <div class="ce-bodytext entry-content">
      <f:format.html>{data.bodytext}</f:format.html>
    </div>
  </f:if>

  <f:render partial="Media/GalleryBlog" arguments="{_all}" />

  
  <h4 class="entry-title" style="margin-top: 30px;">
    <f:translate key="LLL:EXT:jbspb_cmsod/Resources/Private/Language/locallang.xlf:author" />
  </h4>
  <div class="blog-author d-flex align-items-center">
    <img src="/fileadmin/jbspb_cmsod/blog/trainer-600px.jpg" class="rounded-circle float-left" alt="">
    <div>
      <h4>Joe Brandes</h4>
      <div class="social-links">
        <a href="#"><i class="bi bi-twitter"></i></a>
        <a href="#"><i class="bi bi-facebook"></i></a>
        <a href="#"><i class="biu bi-instagram"></i></a>
      </div>
      <p>
        IT seit über 40 Jahren ...
      </p>
    </div>
  </div>

</f:section>
</html>
