<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="DefaultBsm" />

<f:section name="Main">

  <f:render partial="Media/GalleryHero" arguments="{_all}" />

</f:section>
</html>
