<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">

    <f:render section="Menu" arguments="{menu: menu}" />

</f:section>
<f:section name="Menu">

    <f:if condition="{menu}">
        <ul>
            <f:for each="{menu}" as="page">
                <li>

                    <a href="{page.link}"{f:if(condition: page.target, then: ' target="{page.target}"')} title="{page.title}">
                        <f:if condition="{page.children}">
                            <i class="bi bi-diagram-3-fill" style="font-size: 1.6rem;"> </i>
                        </f:if>
                        <span>{page.title}</span>
                    </a>
                    <f:render section="Menu" arguments="{menu: page.children}" />
                </li>
            </f:for>
        </ul>
    </f:if>

</f:section>
</html>
