<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <div class="newelement">
        <f:format.html>{data.bodytext}</f:format.html>
    </div>

</html>
