/* ------------------------------------------------
# personal styling
--------------------------------------------------*/

/* language flags */
li.language > a > img {
    padding-right: 0.5rem;
    height: 0.9rem;
  }

/* correction styling - no i-Tag because of RTE -> em-Tag */
.content ul em {
    left: 0;
    top: 7px;
    position: absolute;
    font-size: 20px;
    color: #d9232d;
  }

/* styling of sitemap as vertical menu */
.sidebar ul {
    list-style: outside none none;
    margin: 10px 0px 10px 0px;
    padding:0;
}

.sidebar a {
    display: block;
}

.sidebar > ul > li {
    border-top: 1px solid #d9232d;
 }

.sidebar > ul > li > a {
    font-size: 18px;
 }

.sidebar ul li ul {
    margin-left: 34px;

}

.sidebar ul li ul li a {
    color: #556270;
}

.sidebar a:hover {
    background-color: #eee;
}

.sidebar .entry-title {
    font-size: 28px;
    font-weight: bold;
    padding: 0;
    margin: 0 0 20px 0;
}
/* dimming the div-Shadows for Blog view */

.blog .entry, .blog .sidebar {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h3.entry-title, h4.entry-title {
    font-size: 22px !important;
}

/*--------------------------------------------------------------
# FAQ Section - personal styling - aka copies from section about
--------------------------------------------------------------*/

.faq .faq-item {
    margin: 10px 0;
    padding: 10px 0;
}


.faq .faq-item i {
  color: #d9232d;
}


.faq .faq-item ul {
  list-style: none;
  padding: 0;
}

.faq .faq-item ul li {
  padding: 10px 0 0 28px;
  position: relative;
}

.faq .faq-item ul i {
  left: 0;
  top: 10px;
  position: absolute;
  font-size: 20px;
  color: #d9232d;
}

