<!-- ======= Hero Section ======= -->
<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(../typo3conf/ext/jbspb_cmsod/Resources/Public/Images/bootstrapmade/sailor/slide/slide-1.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Welcome to <span>CMS Online Designer</span></h2>
              <p class="animate__animated animate__fadeInUp">Efficient Web Technologies from A to Z: modern Online Websites via static, dynamic or CMS approach.</p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Learn more</a>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(../typo3conf/ext/jbspb_cmsod/Resources/Public/Images/bootstrapmade/sailor/slide/slide-2.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">HTML/CSS/JS & PHP/MySQL</h2>
              <p class="animate__animated animate__fadeInUp">Static or dynamic Websites build and designed professionaly. The Basics for the World Wide Web and using databases.</p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Learn more</a>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(../typo3conf/ext/jbspb_cmsod/Resources/Public/Images/bootstrapmade/sailor/slide/slide-3.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">CMS - Joomla, TYPO3 and WordPress</h2>
              <p class="animate__animated animate__fadeInUp">Managing Websites with the leading CMS (Content Management Systemes). Sites from personal Webcards to an Enterprise Management System for your Company.</p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Learn more</a>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->