<!-- ======= Hero Section ======= -->
<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(typo3conf/ext/jbspb_cmsod/Resources/Public/Images/bootstrapmade/sailor/slide/slide-1.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Willkommen zum <span>CMS Online Designer</span></h2>
              <p class="animate__animated animate__fadeInUp">Praxisorientierte Webtechnik von A bis Z: aktuelle Online Techniken von der statischen Website bis zu Content Management Systemen.</p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Mehr erfahren</a>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(typo3conf/ext/jbspb_cmsod/Resources/Public/Images/bootstrapmade/sailor/slide/slide-2.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">HTML/CSS/JS & PHP/MySQL</h2>
              <p class="animate__animated animate__fadeInUp">Statische und Dynamischen Webseiten professionell erstellen und designen. Die Grundlagen für das World Wide Web und die Anbindungen an Datenbanken.</p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Mehr erfahren</a>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(typo3conf/ext/jbspb_cmsod/Resources/Public/Images/bootstrapmade/sailor/slide/slide-3.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">CMS - Joomla, TYPO3 und WordPress</h2>
              <p class="animate__animated animate__fadeInUp">Die Verwaltung der Websites mit den führenden CMS (Content Management Systeme)von der einfachen privaten Webvisitenkarte bis hin zum Enterprise Managagement für Firmen und Universitäten.</p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Mehr erfahren</a>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->