  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Testcenter Hannover</h3>
              <p>
                Coordinator <br>
                Stefan Koch<br><br>
                <strong>Telephone:</strong> 0511-300 330-57<br>
                <strong>Email:</strong> koch@vhs-nds.de<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.vhs-nds.de/index.php/startseite-epz.html">EPZ Hannover</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.vhs-nds.de/index.php/epz-kontakt.html">EPZ Contacts</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.vhs-braunschweig.de/die-vhs-braunschweig/">VHS Braunschweig</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="<f:uri.page pageUid="{settings.impressumID}" />">Imprint</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="<f:uri.page pageUid="{settings.privacyID}" />">Privacy Statement</a></li>

            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Online Technologies</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.w3.org/">W3.org</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://de.php.net">PHP</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://joomla.org">Joomla</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://typo3.org">TYPO3</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://wordpress.org">WordPress</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>VHS and EPZ</h4> 
            <p>The staff members of your local VHS or the EPZ will inform you personally.</p>
            <p>Please contact us.</p>
            <a href="https://www.vhs-nds.de/index.php/epz-kontakt.html">
              <img src="typo3conf/ext/jbspb_cmsod/Resources/Public/Images/bootstrapmade/sailor/epz_logo.png" alt="EPZ Hannover" style="width: 50%;"> 
              <br>
              <img src="typo3conf/ext/jbspb_cmsod/Resources/Public/Images/bootstrapmade/sailor/epz-zertifikat.png" alt="EPZ Hannover" style="width: 25%;">
            </a>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Sailor</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/sailor-free-bootstrap-theme/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->
