  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Prüfungszentrale Hannover</h3>
              <p>
                Fachkoordinator  <br>
                Stefan Koch<br><br>
                <strong>Telefon:</strong> 0511-300 330-57<br>
                <strong>Email:</strong> koch@vhs-nds.de<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.vhs-nds.de/index.php/startseite-epz.html">EPZ Hannover</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.vhs-nds.de/index.php/epz-kontakt.html">EPZ Kontakte</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.vhs-braunschweig.de/die-vhs-braunschweig/">VHS Braunschweig</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="<f:uri.page pageUid="{settings.impressumID}" />">Impressum</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="<f:uri.page pageUid="{settings.privacyID}" />">Datenschutzerklärung</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Online Techniken</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.w3.org/">W3.org</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://de.php.net">PHP</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://joomla.org">Joomla</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://typo3.org">TYPO3</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://wordpress.org">WordPress</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>VHSen und EPZ</h4>
            <p>Die Mitarbeiter/Innen der örtlichen VHSen aber auch von der EPZ informieren Sie auch persönlich.</p>
            <p>Bitte sprechen Sie uns gerne an.</p>
            <a href="https://www.vhs-nds.de/index.php/epz-kontakt.html">
              <img src="typo3conf/ext/jbspb_cmsod/Resources/Public/Images/bootstrapmade/sailor/epz_logo.png" alt="EPZ Hannover" style="width: 50%;"> <br>
              <img src="typo3conf/ext/jbspb_cmsod/Resources/Public/Images/bootstrapmade/sailor/epz-zertifikat.png" alt="EPZ Hannover" style="width: 25%;"> <br>
            </a>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Sailor</span></strong>. Alle Rechte reserviert.
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/sailor-free-bootstrap-theme/ -->
        Designed von <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->
