<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{f:cObject(typoscriptObjectPath: 'lib.pageId')} == 1">
    <f:then>
        <f:render partial="FormBox" arguments="{_all}" />  
    </f:then>
    <f:else>
        <f:render partial="Form" arguments="{_all}" />
    </f:else>
</f:if>
</html>