<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">

<f:for each="{gallery.rows}" as="row" iteration="rowIterator">
    <f:for each="{row.columns}" as="column" iteration="columnIterator">

        <!-- Slide {rowIterator.index} -->
        <div class="carousel-item {f:if(condition: '{rowIterator.isFirst} && {columnIterator.isFirst}', then: 'active')}" style="background-image: url(<f:uri.image image="{column.media}" />)">
            <div class="carousel-container">
                <div class="container">
                    <h2 class="animate__animated animate__fadeInDown">{column.media.title}</h2>
                    <p class="animate__animated animate__fadeInUp">{column.media.description}</p>

                    <f:if condition="{column.media.link}">
                        <f:then>
                            <f:link.typolink parameter="{column.media.link}" class="btn-get-started animate__animated animate__fadeInUp scrollto">
                                <f:translate key="LLL:EXT:jbspb_cmsod/Resources/Private/Language/locallang.xlf:readmore" />
                            </f:link.typolink>
                        </f:then>
                        <f:else>
                            <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">
                                <f:translate key="LLL:EXT:jbspb_cmsod/Resources/Private/Language/locallang.xlf:readmore" />
                            </a>
                        </f:else>
                    </f:if>
                    
                </div>
            </div>
        </div>

    </f:for>
</f:for>

</html>
