<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{gallery.rows}">
    <div>
        <h4 class="entry-title">
            <f:translate key="LLL:EXT:jbspb_cmsod/Resources/Private/Language/locallang.xlf:gallery" />
        </h4>

        <f:for each="{gallery.rows}" as="row" iteration="rowIterator">


                    <f:for each="{row.columns}" as="column" iteration="columnIterator">
                        <f:if condition="!({rowIterator.isFirst} && {columnIterator.isFirst})">
                            <f:if condition="{column.media}">
                                <div class="d-inline" >
                                    <f:render partial="Media/Type/ImageBlogGallery" arguments="{file: column.media, dimensions: column.dimensions, data: data, settings: settings}" />
                                </div>
                            </f:if>
                        </f:if>
                    </f:for>


        </f:for>

    </div>
</f:if>
</html>
