<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{gallery.rows}">

        <f:for each="{gallery.rows}" as="row" iteration="rowIterator">
            <f:if condition="{rowIterator.isFirst}">

                <f:for each="{row.columns}" as="column" iteration="columnIterator">
                
                    <f:if condition="{columnIterator.isFirst}">
                        <f:if condition="{column.media}">            
                            <f:render partial="Media/Type/ImageBlogIntro" arguments="{file: column.media, dimensions: column.dimensions, data: data, settings: settings}" />
                        </f:if>
                    </f:if>

                </f:for>

            </f:if>
        </f:for>

</f:if>
</html>
